html,
body {
  margin: 0;
  padding: 0;
}



.Container {
    background-color: red;
    float: left;
    width: 100%;
    height: 100%;

    
}
.Container .top{
    background-color: black;
    float: bottom;
    width: 100%;
    height: 100px;
   
}
.Container .first {
    width: 100%;
    height: 250px;
    float: bottom;
    background-color: green;

}
.Container .second {
    width: 100%;
    height: 250px;
    float: bottom;
    background-color: aquamarine;

}

.Container .third {
    width:100%;
    height: 250px;
    float: bottom;
    background-color: beige;
}

.Container .bottom {
    width: 100%;
    height: 200px;
    float: bottom;
    background-color: purple;
}
.Container .down {
    background-color: black;
    float: bottom;
    width: 100%;
    height: 100px;
}
.bottom2 {
    background-color: blue;
    float: calc(10px +100px);
    width: 500px;
    height: 100px;
}